In [141]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [142]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [143]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [144]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [145]:
# reflect an existing database into a new model
base = automap_base()
base.prepare(engine, reflect=True)

# reflect the tables

In [146]:
# View all of the classes that automap found
base.classes.keys()

['measurement', 'station']

In [147]:
# Save references to each table - remember the table names and create a variable to save an instance of the table class and use it
Measurement = base.classes.measurement
Station = base.classes.station

In [148]:
# Create our session (link) from Python to the DB - 
# Link Python to the database by creating an SQLAlchemy session
session = Session(engine)

In [149]:
from sqlalchemy import inspect

# Exploratory Precipitation Analysis

In [150]:
#Inspect/get/see/check what are the table names in the dataset
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [151]:
#bringout the column names of each table
columns = inspector.get_columns('measurement')

In [152]:
#use pandas to show dataset in the DataFrame format
df_columns_measurement = pd.DataFrame(columns)

In [153]:
#show df_columns_measurement
df_columns_measurement

      name     type  nullable default autoincrement  primary_key
0       id  INTEGER     False    None          auto            1
1  station     TEXT      True    None          auto            0
2     date     TEXT      True    None          auto            0
3     prcp    FLOAT      True    None          auto            0
4     tobs    FLOAT      True    None          auto            0

In [157]:
Station1 = inspector.get_columns('station')

In [158]:
#use pandas to show dataset in the DataFrame format
df_columns_station = pd.DataFrame(Station1)

In [159]:
#show df_columns_station
df_columns_station

        name     type  nullable default autoincrement  primary_key
0         id  INTEGER     False    None          auto            1
1    station     TEXT      True    None          auto            0
2       name     TEXT      True    None          auto            0
3   latitude    FLOAT      True    None          auto            0
4  longitude    FLOAT      True    None          auto            0
5  elevation    FLOAT      True    None          auto            0

In [ ]:
#another way to view the column names, use inspector to print the column names
columns_measurement = inspector.get_columns('measurement')
for column in columns_measurement:
    print(column["name"], column["type"])

In [ ]:
#another way to view the column names, use inspector to print the column names
columns_station = inspector.get_columns('station')
for column in columns_station:
    print(column["name"], column["type"])

In [ ]:
# Find the most recent date in the data set.
most_recent_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
most_recent_date

In [ ]:
#Calculate the date 1 year ago from the last data point in the databse
one_yr_ago = dt.date(2017,8,23) - dt.timedelta(days=365)
print (one_yr_ago)

In [ ]:
#write a query to retrieve the data and precipitation data within the last 12 months
one_yr_data = session.query(Measurement.date, Measurement.prcp).\
    filter(Measurement.date >= '2016-08-23', Measurement.date <= '2017-08-23').\
    order_by(Measurement.date).all()
one_yr_data

In [ ]:
# Save the query results as a Pandas DataFrame and set the index to the date column
df_one_yr_data = pd.DataFrame(one_yr_data, columns = ['date', 'precipitation'])
df_one_yr_data

In [ ]:
# Sort the dataframe by date
df_one_yr_data.set_index('date')
df_one_yr_data.head()

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data
# Plot Data
fig, ax = plt.subplots(figsize = (15, 7))
df_one_yr_data.plot(ax = ax, x_compat = True)

#Set Title & Labels
ax.set_xlabel('Date')
ax.set_ylabel('Precipitation (inch)')
ax.set_title("Honolulu, HI Precipitation 2016 - 2017")

#Save fig
plt.savefig("Images/precipitation.png")

#plot figure
plt.tight_layout()
plt.show

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data
df_one_yr_data.describe()

In [155]:
columns_stations = inspector.get_columns('station')
session.query(Station.id).count()

9

# Exploratory Station Analysis

In [160]:
# Design a query to calculate the total number stations in the dataset
Total_stations = session.query(func.count(Station.station)).all()
Total_stations

[(9,)]

In [161]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)

# List the stations and the counts in descending order.
# To do this, need to join the two tables to find the answer.

most_active_stations = session.query(Measurement.station, func.count(Measurement.station)).\
    group_by(Measurement.station).\
    order_by(func.count(Measurement.station).desc()).all()
most_active_stations

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()