In [6]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [7]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [8]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [9]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [10]:
# reflect an existing database into a new model
base = automap_base()
base.prepare(engine, reflect=True)

# reflect the tables

In [12]:
# View all of the classes that automap found
base.classes.keys()

['measurement', 'station']

In [15]:
# Save references to each table - remember the table names and create a variable to save an instance of the table class and use it
Measurement = base.classes.measurement
Station = base.classes.station

In [17]:
# Create our session (link) from Python to the DB - 
# Link Python to the database by creating an SQLAlchemy session
session = Session(engine)

In [23]:
from sqlalchemy import inspect

# Exploratory Precipitation Analysis

In [42]:
#Inspect/get/see/check what are the table names in the dataset
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [43]:
#bringout the column names of each table
columns = inspector.get_columns('measurement')

In [44]:
#use pandas to show dataset in the DataFrame format
df_columns_measurement = pd.DataFrame(columns)

In [45]:
#show df_columns_measurement
df_columns_measurement

      name     type  nullable default autoincrement  primary_key
0       id  INTEGER     False    None          auto            1
1  station     TEXT      True    None          auto            0
2     date     TEXT      True    None          auto            0
3     prcp    FLOAT      True    None          auto            0
4     tobs    FLOAT      True    None          auto            0

In [46]:
Station = inspector.get_columns('station')

In [50]:
#use pandas to show dataset in the DataFrame format
df_columns_station = pd.DataFrame(Station)

In [52]:
#show df_columns_station
df_columns_station

        name     type  nullable default autoincrement  primary_key
0         id  INTEGER     False    None          auto            1
1    station     TEXT      True    None          auto            0
2       name     TEXT      True    None          auto            0
3   latitude    FLOAT      True    None          auto            0
4  longitude    FLOAT      True    None          auto            0
5  elevation    FLOAT      True    None          auto            0

In [56]:
#another way to view the column names, use inspector to print the column names
columns_measurement = inspector.get_columns('measurement')
for column in columns_measurement:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [58]:
#another way to view the column names, use inspector to print the column names
columns_station = inspector.get_columns('station')
for column in columns_station:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [71]:
# Find the most recent date in the data set.
most_recent_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
most_recent_date

('2017-08-23',)

In [73]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
#Calculate the date 1 year ago from the last data point in the databse
one_yr_ago = dt.date(2017,8,23) - dt.timedelta(days=365)
print (one_yr_ago)

2016-08-23

In [ ]:
# Starting from the most recent data point in the database. 




# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()